body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.height_100 {
  height: 100%;
}
.width_100 {
  width: 100%;
}
.full-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.container {
  color: black;
}
